<div class="h-10 flex justify-center items-center">
  <h4>#AdoptDontShop  |  Um Pet Pra Chamar de Seu</h4>
</div>

<div class="h-14 bg-yellow-400 grid content-center">
  <ul class="flex justify-around mx-20 text-violet-800 font-bold items-center">
    <li><a href="/"><img class="w-10" src="./assets/images/logo.svg"></a></li>
    <li><a class="hover:text-violet-700" href="#">ONGs</a></li>
    <li><a class="hover:text-violet-700" href="#">COMO FUNCIONA</a></li>
    <li><a class="hover:text-violet-700" href="#">ANTES DE ADOTAR</a></li>
    <li><a class="hover:text-violet-700" href="#">SOBRE O SITE</a></li>
    <li>
      <button class="border-0 bg-violet-800 w-28 h-9 text-white font-semibold rounded-full hover:bg-violet-700">
        DOAR</button>
    </li>
  </ul>
</div>
