<div class="text-center border-t border-violet-800 mx-12 mt-5">
  <h1 class="mt-2">Design e Desenvolvimento por Giselle Ferreira</h1>
  <div class="align-center mt-2">
    <a href="https://www.linkedin.com/in/giselleferreiras/">
      <ng-icon class="text-3xl mx-1.5 text-violet-800 hover:text-violet-400 transition-all ease-linear" name="simple-linkedin">        
      </ng-icon></a>
    <a href="https://github.com/giselle-ferreira">
      <ng-icon class="text-3xl mx-1.5 text-violet-800 hover:text-violet-400 transition-all ease-linear" name="simple-github">        
      </ng-icon></a>
  </div>
</div>
